  <div>
    {% if user.joined_rooms.all %}
      {% for room in user.joined_rooms.all %}
      <h2>Study Rooms Joined by {{ user.username }}</h2>
        <div class="roomListRoom">
          <!-- Room details rendering -->
          <div class="roomListRoom__header">
            <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
              <div class="avatar avatar--small">
                <img src="{{ room.host.avatar.url }}" />
              </div>
              <span>@{{ room.host.username }}</span>
            </a>
            <div class="roomListRoom__actions">
              <span>{{ room.created|timesince }} ago</span>
            </div>
          </div>
          <div class="roomListRoom__content">
            <a href="{% url 'room' room.id %}">{{ room.name }}</a>
          </div>
          <div class="roomListRoom__meta">
            <a href="{% url 'room' room.id%}" class="roomListRoom__joined">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <!-- SVG content -->
              </svg>
              {{ room.participants.all.count }} Joined
            </a>
            <p class="roomListRoom__topic">{{ room.topic.name }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <div>
      <h2>No rooms joined</h2>
    </div>
    {% endif %}
  </div>
  