{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/topics_component.html'%}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            {%if request.user == user %}
            <a href="{% url 'update-user'%}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div class="roomList__title_profile">
            <div class="column col_left" id="col_left" onclick="openRoomList('hosted')" style="text-decoration: underline;"><h2>Hosted by {{user.username}}({{hosted_rooms.count}})</h2></div> 
            <div class="column col_right" id="col_right" onclick="openRoomList('joined')"><h2>Joined by {{user.username}}({{joined_rooms.count}})</h2></div>
          </div>
        </div>
        <div id="hosted" class="room__list"> {% include 'base/hosted_room_list.html'%}</div>
       
        <div id="joined" class="room__list" style="display:none"> {% include 'base/joined_rooms_list.html' %} </div>
      </div>
      <!-- Room List End -->
    
      <!-- Activities Start -->
      {% include 'base/activity_component.html'%}
      <!-- Activities End -->
    </div>

  </main>
   
  {% endblock %}

  {% block scripts %}


  <script>
function openRoomList(Name) {
  var i;
  var x = document.getElementsByClassName("room__list");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(Name).style.display = "block";
  var left = document.getElementById("col_left");
  var right = document.getElementById("col_right");
  if(Name ==='hosted'){
    left.style.textDecoration = "underline";
    right.style.textDecoration = "none";
  }
  if(Name ==='joined'){
    left.style.textDecoration = "none";
    right.style.textDecoration = "underline";
  }   
}
</script>
  

  {% endblock %}