

{% extends 'main.html' %}

{% block content %}
    <main class="profile-page layout layout--2">
      <div class="container">
        <!-- Room Start -->
        <div class="room">
          <div class="room__top">
            <div class="room__topLeft">
              <a href="{% url 'home' %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>arrow-left</title>
                  <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                  ></path>
                </svg>
              </a>
             
                <h3>{{room.name}}</h3>
                <span>{{room.created|timesince}} ago</span>
             
            </div>
            {% if room.host == request.user %}
            <div class="room__topRight">
              <a href="{% url 'update-room' room.id %}">
                <svg
                  enable-background="new 0 0 24 24"
                  height="32"
                  viewBox="0 0 24 24"
                  width="32"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>edit</title>
                  <g>
                    <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                  </g>
                  <g>
                    <g>
                      <path
                        d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"
                      />
                    </g>
                    <g>
                      <path
                        d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"
                      />
                    </g>
                  </g>
                </svg>
              </a>
              <a href="{% url 'delete-room' room.id %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>remove</title>
                  <path
                    d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                  ></path>
                </svg>
              </a>
            </div>
            {% else %}
              
               {% if user_is_participant %}
                <form action="{% url 'leave-room' room.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Leave</button>
                </form>
                {% else %}
                  <form action="{% url 'join-room' room.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit">Join</button>
                  </form>
               {% endif %}
            {% endif %}
            
            <!-- <button class="action-button" data-id="120" data-delete-url="https://randomuser.me/api/3324923"
            data-edit-url="profile.html">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>ellipsis-horizontal</title>
              <path
                d="M16 7.843c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 1.98c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
              <path
                d="M16 19.908c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 14.046c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
              <path
                d="M16 31.974c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 26.111c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
            </svg>
          </button> -->
          </div>
          <div class="room__box scroll">
            <div class="room__header scroll">
              <!-- <div class="room__info">
                <h3>{{room.name}}</h3>
                <span>{{room.created|timesince}}</span>
              </div> -->
              <div class="" style="display: flex; justify-content: space-between;">
                <div>
                <p>Hosted By</p>
                <a href="{% url 'user-profile' room.host.id %}" class="room__author">
                  <div class="avatar avatar--small">
                <img src="{{room.host.avatar.url}}" />
                  </div>
                  <span>@{{room.host.username}}</span>
                </a>
               </div>
               <div class="" >
                
                <form id="lobby__form">
                  <input type="hidden" name="name" value="{{request.user.name}}">
                  <input type="hidden" name="room" value="{{room.id}}">
                  <input type="hidden" name="hostId" value="{{request.user.id}}">
                     
                  <button class="btn btn--main" id="video_call_btn" type="submit">video chat</button>
                 
                </form>
               </div>
              </div>
              <span class="room__topics">{{room.topic}}</span>
              <div class="room__details scroll">
               
                {{room.description}}
             
              </div>
             
            </div>
            <div class="room__conversation">
              <div class="threads scroll" id="message-box">
                {% for message in room_messages %}
                 {% if request.user == message.user %}
                 <div class="thread-right">
                   <div class="thread__top-right">
                    
                      <a href="{% url 'delete-message' message.id %}">
                      <div class="thread__delete">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <title>remove</title>
                          <path
                            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                          ></path>
                        </svg>
                      </div>
                    </a>
                    <div class="thread__author-right">
                      <span class="thread__date" style="font-size: xx-small; padding-top: 0.8rem;">{{message.created|timesince}} ago</span>
                      <a href="{% url 'user-profile' message.user.id %}" class="thread__authorInfo">
                        <span>@{{message.user.username}}</span>
                        <div class="avatar avatar--small" id="avatar-{{ message.user.username }}">
                          <img src="{{message.user.avatar.url}}" />
                        </div>    
                      </a>
                   </div>
                   
                   
                  </div>
                  <div class="thread__details-right">
                    <div class="msg_text">
                    {{message.body}}
                    </div>
                 
                    {% for media in message.media_set.all %}
                    {% if media %}
                       {% if media.media_type == 'PDF' %}
                       <div class="pdf-bubble">
                         <p>PDF File: <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                         <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                         
                     </div>
             
                       {% elif media.media_type == 'DOC' %}
                       <p>DOC File: <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                       <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                       {% elif media.media_type == 'Image' %}
                       <div class="msg_img" >
                         <img src="{{ media.media_path.url }}" alt="{{ media.file_name }}" >
                         <div><a href="{% url 'download-image' media.id %}" download>Download</a></div>
                       </div>
                       {% elif media.media_type == 'Video' %}
                         <div class="msg_video">
                          <video src="{{ media.media_path.url }}" controls></video>
                          </div>
                       {% else %}
                       <div>
                         <p>Unsupported file type:  <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                         <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                         </div>
                      {% endif %} 
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% else %}
                <div class="thread">
                  <div class="thread__top">
                    <div class="thread__author">
                      <a href="{% url 'user-profile' message.user.id %}" class="thread__authorInfo">
                        <div class="avatar avatar--small" id="avatar-{{ message.user.username }}">
                          <img src="{{message.user.avatar.url}}" style="height: 1.8rem; width:1.8rem;"/>
                        </div>
                        <span>@{{message.user.username}}</span>
                      </a>
                      <span class="thread__date" style="font-size: xx-small; padding-top: 0.8rem;">{{message.created|timesince}} ago</span>
                    </div>

                    {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">
                    <div class="thread__delete">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>remove</title>
                        <path
                          d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                        ></path>
                      </svg>
                    </div>
                  </a>
                    {% endif %}
                  </div>
                  <div class="thread__details">
                    <div class="msg_text">
                      {{message.body}}
                      </div>
                   {% for media in message.media_set.all %}
                   {% if media %}
                      {% if media.media_type == 'PDF' %}
                      <div>
                        <p class="pdf-bubble">PDF File: <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                        <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                    </div>
            
                      {% elif media.media_type == 'DOC' %}
                      <p class="pdf-bubble">PDF File: <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                      <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                      {% elif media.media_type == 'Image' %}
                      <div class="msg_img">
                        <img src="{{ media.media_path.url }}" alt="{{ media.file_name }}" >
                        <div><a href="{% url 'download-image' media.id %}" download>Download</a></div>
                      </div>
                      {% elif media.media_type == 'Video' %}
                         <div class="msg_video">
                          <video src="{{ media.media_path.url }}" controls></video>
                          </div>
                        
                      {% else %}
                      <div>
                        <p class="pdf-bubble">Unsupported file type:  <a href="{{ media.media_path.url }}" download="{{ media.media_name }}">{{ media.media_name }}</a></p>
                        <span><a href="{% url 'open-file' media.id %}" target="_blank"> Open</a></span>
                      </div>
                     {% endif %} 
                   {% endif %}

                  
               {% endfor %}
                </div>
             
              </div>
              {% endif %}
              {% endfor %}

             
            </div>
          </div>
          <div class="room__message">
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="send_message">
                <div class="text_message">
                  <input class="message-input" id="chat-message-input" name="body" placeholder="Write your message here..." />
                </div>
               
                <div class="file_upload">
                  <input type="file" name="file" id="upload" hidden/>
                  <label for="upload" style="padding: 0.5rem; margin-top: 0.5rem;"><i class="fa fa-paperclip" aria-hidden="true" style="font-size:30px;"></i></label>
                </div>
              <div>
                <button class="submit-button" id="chat-message-submit" type="submit" ><i class="fa fa-paper-plane" aria-hidden="true"></i> </button>
              </div>
               
              
            </div>
            </form>

            <div id="preview" class="preview">
              <span id="file-name"></span>
              <button id="remove-button">Remove</button>
            </div>
          </div>
        </div>

        <!-- Room End -->
       </div>
        <!--   Start -->
        <div class="participants">
          <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>
          <div class="participants__list scroll">
            {% for user in participants %}
            <div class="participants__box">
              <a href="{% url 'user-profile' user.id %}" class="participant">
                <div class="avatar avatar--medium " id="avatar-{{ user.username }}" >
                  <img src="{{user.avatar.url}}" />
                </div>
                <p>
                  
                  {{user.name}}
                  <span id="avatar-name">@{{user.username}}</span>
                </p>
              </a>
              {% if user != request.user %}
               <form action="{% url 'remove-user' %}" method="GET">
                {% csrf_token %}
                 <input type="hidden" name="room" value="{{room.id}}">
                 <input type="hidden" name="user" value="{{user.id}}">
                <button type="submit">remove</button>
            </form>
            {% endif %}
            </div>
         
            
            {% endfor %}
          </div>
        </div>
        <!--  End -->
      </div>
    </main>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>

var roomName = "{{ room.id }}";
var username = "{{ request.user.username }}"

let activeUsers = [];
console.log(activeUsers);
var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/' + roomName + '/'+ username+'/');
console.log(chatSocket)

chatSocket.onmessage = function(e) {
  
   var message = JSON.parse(e.data);
   console.log(message.status)
   if (message.type === 'active_users') {
      //  activeUsers.push(message.users);
        // Process the active user list, update UI, etc.
        activeUsers= message.users
        
    }
    checkActiveUser()
   var timeAgo = timesince(message.created);
   const messageBox = document.querySelector('#message-box');
let html = '';

if (username === message.user) {
  html += `
    <div class="thread-right">
      <div class="thread__top-right">
        
          <a href="/delete-message/${message.messageId}/ ">
            <div class="thread__delete">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>remove</title>
                <path
                  d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                ></path>
              </svg>
            </div>
          </a>
        
        
          <div class="thread__author-right">
            <span class="thread__date" style="font-size: xx-small; padding-top: 0.8rem;">${timeAgo} ago</span>
            <a href="/profile/${message.userId}" class="thread__authorInfo">
              <span>@${message.user}</span>
              <div class="avatar avatar--small">
                <img src="/static/media/${message.avatar}" id="avatar-${message.user}"/>
              </div>    
            </a>
          </div>
        </div>
        <div class="thread__details-right">
          <div class="msg_text">
            ${message.message}
          </div>
          `;
} else if(message.message || message.message ==='') {
  html += `
    <div class="thread">
      <div class="thread__top">
        <div class="thread__author">
          <a href="/profile/${message.userId}" class="thread__authorInfo">
            <div class="avatar avatar--small" id="avatar-${message.user}">
              <img src="/static/media/${message.avatar}" style="height: 1.8rem; width:1.8rem;"/>
            </div>
            <span>@${message.user}</span>
          </a>
          <span class="thread__date" style="font-size: xx-small; padding-top: 0.8rem;">${timeAgo} ago</span>
        </div>

       
      </div>
      <div class="thread__details">
        <div class="msg_text">
          ${message.message}
        </div>
      `;
}


  if (message.is_file) {
    if (message.fileType === 'PDF') {
      html += `
        <div class="pdf-bubble">
          <p>PDF File:<a href="${message.file}" download="${message.filename}">${message.filename}</a></p>
        </div>
      `;
    } else if (message.fileType === 'DOC') {
      html += `
        <p>DOC File: <a href="${message.file}" download="${message.filename}">${message.filename}</a></p>
      `;
    } else if (message.fileType === 'Image') {
      html += `
        <div class="msg_img">
          <img src="${message.file}" alt="${message.filename}">
        </div>
      `;
    } else if (message.fileType === 'Video') {
      html += `
        <div class="msg_video">
          <video src="${message.file}" controls></video>
        </div>
      `;
    } else {
      html += `
        <div>
          <p>Unsupported file type: <a href="${message.file}" download="${message.filename}">${message.filename}</a></p>
        </div>
      `;
    }
  }


messageBox.innerHTML += html;
}

chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

document.querySelector('#chat-message-submit').onclick = function(e) {
  e.preventDefault();
    var messageInputDom = document.querySelector('#chat-message-input');
    var messageUploadDom = document.querySelector('#upload');
    var message = messageInputDom.value;
    var file = messageUploadDom.files[0];
    //var fileType = getFileType(file);
   // console.log(file.size);
    
    if(message,file == null){
      sendMessage(message);
    }
    
    if(file){
         sendFile(message,file);
       }
     messageInputDom.value = '';
     messageUploadDom.value = null;
     removeFile();
};

function sendMessage(content) {
            const message = {
                type: 'message',
                user: username, 
                content: content
            };
            chatSocket.send(JSON.stringify(message));
        }

function sendFile(content,file) {
    const reader = new FileReader();
    reader.onload = function(event) {
        const data = event.target.result;
        const message = {
            type: 'file',
            user: username,
            message: content,
            filename: file.name,
            fileSize : file.size,
            fileType : getFileType(file),
            data: data
        };
        chatSocket.send(JSON.stringify(message));
    };
    reader.readAsDataURL(file);
}

function getFileType(file) {
    const fileType = file.type;
    if (fileType.startsWith('image')) {
        return 'Image';
    } else if (fileType === 'application/pdf') {
        return 'PDF';
    } else if (
        fileType === 'application/msword' ||
        fileType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
    ) {
        return 'DOC';
    } else if (fileType === 'application/xml' || fileType === 'text/xml') {
        return 'XML';
    } else if (
        fileType === 'application/vnd.ms-excel' ||
        fileType === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    ) {
        return 'Excel';
    } else if (fileType.startsWith('video')) {
        return 'Video';
    } else {
        return 'Unknown';
    }
}
function checkActiveUser(){
var avatarElements = document.querySelectorAll('.avatar.avatar--medium');
avatarElements.forEach(function(element) {
    var username = element.id.replace('avatar-', '');
   
    if (activeUsers.includes(username)) {
    
          element.classList.add("active");
     } 
    
  });
  var avatarElements = document.querySelectorAll('.avatar.avatar--small');
avatarElements.forEach(function(element) {
    var username = element.id.replace('avatar-', '');
   
    if (activeUsers.includes(username)) {
      
          element.classList.add("active");
     } 
    
  });
}

function timesince(date){
  var format = 'YYYY-MM-DD HH:mm:ss';
  var createdDate = moment(date,format);
  // Specify the format of the datetime string

 // var timeSince = createdDate.fromNow();
 var timeSince = createdDate.calendar(null, {
  sameDay: '[Now]',
  lastDay: '[Yesterday]',
  lastWeek: '[Last] dddd',
  sameElse: 'MMM D, YYYY'
});
  return timeSince;
}



</script>

{% endblock %}
